{% extends 'body.html' %}
{% block title %}<title>Documentation</title>{% endblock title %}

{% block content %}
<main class="container-fluid">
  <div class="row m-2">
    <div class="container mt-5 mb-5">
    <h2 class="display-5">Introduction</h2>
    <p>This documentation will help you get familiar with the recurces of the One Piece API and show you now to make different queries, so that you can get the mostout of it</p>
      <h3 class="h3">REST</h3>
      <p>
        <strong>Base url:</strong>
        <a class="link" href="https://apionepiece.herokuapp.com/api/" rel="nofollow noopener noreferrer" target="_blank" title="One Piece API">https://apionepiece.herokuapp.com/api/</a>
      </p>
      <p>The base url contains information about all available API's resources. All reuqests are
        <code>GET</code>
        requests and go over
        <code>https</code>
        . All response will return data in
        <code>Json</code>.
      </p>
      <p>Sample request</p>
      <div data-language="text">
        <pre class="language-text">
          <code class="language-text">https://apionepiece.herokuapp.com/api/</code>
        </pre>
      </div>
      <div data-language="json">
        <pre class="language-json">
          <code class="language-json">
          <span class="token punctuation">{</span>
            <span class="token property">"characters"</span><span class="token operator">:</span><span class="token string">"https://apionepiece.herokuapp.com/api/characters"</span><span class="token punctuation">,</span>
          <span class="token punctuation">}</span>
          </code>
        </pre>
      </div>
      <p>There are currently one available resources:</p>
      <ul>
        <li>
          <a href="#Characters" class="link">Characters</a>: used to get all the character's.
        </li>
      </ul>
      <h3 class="h3 mt-5">Info and Pagination</h3>
      <p>The API will automatically paginate the responses. You will receive up to 15 documents per page.</p>
      <p>Each resources contains an <code>info</code> object with information about the response.</p>
      <table class="table mb-5 table-hover">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Key</ht>
            <th scope="col">Type</ht>
            <th scope="col">Description</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td scope="row">count</td>
            <td>int</td>
            <td>The length of the response.</td>
          </tr>
          <tr>
            <td scope="row">nex</td>
            <td>string (url)</td>
            <td>Link to next page (if it exits)</td>
          </tr>
          <tr>
            <td scope="row">prev</td>
            <td>string (url)</td>
            <td>Link to prev page (if it exits)</td>
          </tr>
        </tbody>
      </table>
      <p><em>Sample request</em></p>
      <div data-language="text">
        <pre class="language-text">
          <code class="language-text">https://apionepiece.herokuapp.com/api/characters/</code>
        </pre>
      </div>
      {% load characters_extras %}
      {% get_character_all as characters %}
      <div data-language="json">
        <pre class="language-json">
          <code class="language-json">
          <span class="token punctuation">{</span>
            <span class="token property">"count"</span><span class="token operator">:</span><span class="token number">{{characters|length}}</span><span class="token punctuation">,</span>
            <span class="token property">"next"</span><span class="token operator">:</span><span class="token string">"https://apionepiece.herokuapp.com/api/characters/?page=2"</span><span class="token punctuation">,</span>
            <span class="token property">"previous"</span><span class="token operator">:</span><span class="token keywork">null</span><span class="token punctuation">,</span>
            <span class="token property">"results"</span><span class="token operator">:</span><span class="token punctuation">[</span>
              <span class="token comment">// ...</span>
            <span class="token punctuation">]</span>
          <span class="token punctuation">}</span>
          </code>
        </pre>
      </div>
      <h3 class="h3 mt-5">Character</h3>
      <p>There is a total of {{characters|length}} for the moments, character's sorted by id.</p>
      <h3 class="h3 mt-3">Character Scheme</h3>
      <div class="table-responsive-md">
        <table class="table mb-5 table-hover">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Key</ht>
              <th scope="col">Type</ht>
              <th scope="col">Description</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td scope="row">id</td>
              <td>int</td>
              <td>The id of character.</td>
            </tr>
            <tr>
              <td scope="row">name</td>
              <td>string</td>
              <td>The name of the character.</td>
            </tr>
            <tr>
              <td scope="row">image</td>
              <td>string</td>
              <td>Link to the character's image. All images are 300x500px and most are medium shots or portraits since they are intended to be used as avatars.</td>
            </tr>
            <tr>
              <td scope="row">age</td>
              <td>int</td>
              <td>Age of the character's.</td>
            </tr>
            <tr>
              <td scope="row">gender</td>
              <td>string</td>
              <td>The gender of the character('Female','Male' or 'Unknown').</td>
            </tr>
            <tr>
              <td scope="row">reward</td>
              <td>string</td>
              <td>The reward of character.</td>
            </tr>
            <tr>
              <td scope="row">fruit_name</td>
              <td>string</td>
              <td>Character fruit name.</td>
            </tr>
            <tr>
              <td scope="row">fruit_type</td>
              <td>string</td>
              <td>Character fruit type.</td>
            </tr>
            <tr>
              <td scope="row">race</td>
              <td>string</td>
              <td>The type or subspecies of the character ('Human','Cyborg' or 'Gyoji').</td>
            </tr>
            <tr>
              <td scope="row">rank</td>
              <td>string</td>
              <td>Character rank type.</td>
            </tr>
            <tr>
              <td scope="row">status</td>
              <td>string</td>
              <td>The status of the character ('Alive', 'Dead' or 'Unknown').</td>
            </tr>
            <tr>
              <td scope="row">origin</td>
              <td>string</td>
              <td>Character origin.</td>
            </tr>
            <tr>
              <td scope="row">occupation</td>
              <td>string</td>
              <td>The occupation of the character ('Capitan', 'Samurai' or 'Unknown').</td>
            </tr>
            <tr>
              <td scope="row">created_on</td>
              <td>string</td>
              <td>Time at which the character was created in the database.</td>
            </tr>
            <tr>
              <td scope="row">update_on</td>
              <td>string</td>
              <td>Time at whichthe character was update in the database.</td>
            </tr>
          </tbody>
        </table>
      </div>
      <h3 class="h3">Get a simgle character</h3>
      <p>
        You can get a single character by adding the
        <code>id</code>
        as a parameter: 
        <code>/character/1</code>
      </p>
      <div data-language="text">
        <pre class="language-text">
          <code class="language-text">https://apionepiece.herokuapp.com/api/character/1</code>
        </pre>
      </div>
      <div data-language="json">
        <pre class="language-json">
          <code class="language-json">
          <span class="token punctuation">{</span>
            <span class="token property">"id"</span><span class="token operator">:</span><span class="token number">1</span><span class="token punctuation">,</span>
            <span class="token property">"name"</span><span class="token operator">:</span><span class="token string">"Monkey D Luffy"</span><span class="token punctuation">,</span>
            <span class="token property">"image"</span><span class="token operator">:</span><span class="token string">"https://content.dropboxapi.com/apitl/1/..."</span><span class="token punctuation">,</span>
            <span class="token property">"age"</span><span class="token operator">:</span><span class="token number">19</span><span class="token punctuation">,</span>
            <span class="token property">"gender"</span><span class="token operator">:</span><span class="token string">"Male"</span><span class="token punctuation">,</span>
            <span class="token property">"reward"</span><span class="token operator">:</span><span class="token string">"1.500.000.000"</span><span class="token punctuation">,</span>
            <span class="token property">"fruit_name"</span><span class="token operator">:</span><span class="token string">"Gomu Gomu no mi"</span><span class="token punctuation">,</span>
            <span class="token property">"fruit_type"</span><span class="token operator">:</span><span class="token string">"Paramecia"</span><span class="token punctuation">,</span>
            <span class="token property">"race"</span><span class="token operator">:</span><span class="token string">"Human"</span><span class="token punctuation">,</span>
            <span class="token property">"rank"</span><span class="token operator">:</span><span class="token string">"Supernova"</span><span class="token punctuation">,</span>
            <span class="token property">"status"</span><span class="token operator">:</span><span class="token string">"Alive"</span><span class="token punctuation">,</span>
            <span class="token property">"origin"</span><span class="token operator">:</span><span class="token string">"East Blue - Villa Foosha"</span><span class="token punctuation">,</span>
            <span class="token property">"occupation"</span><span class="token operator">:</span><span class="token string">"Capitan"</span><span class="token punctuation">,</span>
            <span class="token property">"description"</span><span class="token operator">:</span><span class="token string">"está decidido a ser el rey de los piratas aunque no se lo van a poner fácil."</span><span class="token punctuation">,</span>
            <span class="token property">"create_on"</span><span class="token operator">:</span><span class="token string">"2020-11-09T17:56:49.467525Z"</span><span class="token punctuation">,</span>
            <span class="token property">"update_on"</span><span class="token operator">:</span><span class="token string">"2020-11-09T17:56:49.467558Z"</span><span class="token punctuation">,</span>
          <span class="token punctuation">}</span>
        </code>
        </pre>
      </div>
    </div>
  </div>
</main>
{% endblock %}
