{% extends 'body.html' %}
{% block content %}
<main class="container-fluid">
  <div class="row justify-content-md-center">
    <article class="article__Article">
      <h1 class="display-2 mt-5" style="font-family: 'Bebas Neue', cursive;">Support One Piece API</h1>
      <p><strong>Help to maintain One Piece API's infracstructure!</strong></p>
      <p>If you using the API for your app, your online tutorial or your coding challenges, please consider supporting us to help keep the project alive.</p>
      <p>We are not gettin any modeny from this and we use our free time to keep the API running and the data up to date. Every contribution, however big or small, is super valuable for our future.</p>
      <p>Thanks!</p>
      <a href="https://www.buymeacoffee.com/yoydev" target="_blank"><img src="https://img.buymeacoffee.com/button-api/?text=Buy me a coffee&emoji=👨‍💻&slug=yoydev&button_colour=FF5F5F&font_colour=333&font_family=Bree&outline_colour=000000&coffee_colour=FFDD00"></a>
    </article>
  </div>
</main>
{% endblock %}