::selection{
	color:rgb(255,152,0);
	background:rgb(32,35,41);
}
.hero-image{
  height: 320px;
  background-image: url("../img/one_piece_character_silhouettes_vector.jpg");
  background-repeat: no-repeat;
  background-position: center;
  opacity: .3;
}

.shwcase__wrapper{
  background: rgb(36, 40, 47);
}

.logo{
  width: 100%;
  position: relative;
  text-align: center;
}

.display-1{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.card-body{
  color: rgb(245, 245, 245);
}

.status {
  line-height: 40px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  text-transform: capitalize;
}

.status__icon-Alive {
  height: 0.5rem;
  width: 0.5rem;
  margin-right: 0.375rem;
  background: rgb(85, 204, 68);
  border-radius: 50%;
}
.status__icon-Dead {
  height: 0.5rem;
  width: 0.5rem;
  margin-right: 0.375rem;
  background: rgb(214, 61, 46);
  border-radius: 50%;
}
.status__icon-Unknown {
  height: 0.5rem;
  width: 0.5rem;
  margin-right: 0.375rem;
  background: rgb(158, 158, 158);
  border-radius: 50%;
}

a{
  color: rgb(245, 245, 245);
  cursor: pointer;
  text-decoration: none;
}

a:hover {
  color: rgb(255, 152, 0);
  text-decoration: none;
}

.card-title{
  font-size: 1.5rem;
  font-weight: 800;
  line-height: 1.1;
}

/* .bd-rd{
  border-radius: 10px;
} */

.card{
  border:none;
  box-shadow: 0 0 15px 5px rgba(255, 255, 255,.1);
}

.btn-outline-success {
  color: rgb(255, 152, 0);
  border-color: rgb(255, 152, 0);
}

/* Footer */

.navbar-footer{
  color: rgb(158, 158, 158);
  font-size: 16px;
  font-weight: 600;
  padding: 4.5rem 0px;
  min-height: calc(120px);
  text-align: center;
}

.navbar-nav-footer{
  display: flex;
  list-style: none;
  justify-content: center;
}

.shwcase__wrapper{
  padding: 50px 0;
}

.article__Article {
  padding: 0px 1.5rem;
  max-width: 960px;
  margin: 0px auto 60px;
  min-height: 50vh;
}

.article__Article p{
  font-size: 20px;
}

.link{
  color: rgb(36, 40, 47);
  border-bottom: 2px solid rgb(255, 152, 0);
}

.link:hover{
  border-bottom: none;
}

pre[class*="language-"] {
  background: rgb(32, 35, 41);
  padding: 1em;
  font-size: 1em;
  text-align: left;
  display: flex;
  margin: 0.5em 0px 1em;
  overflow: auto;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 5px 20px;
}

code[class*="language-"]{
  color: rgb(245, 245, 245);
  background: none;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  overflow-wrap: normal;
  line-height: 1.5;
  tab-size: 2;
  hyphens: none;
  font-weight: 400;
}

.property{
  color: #f15665;
}
.string{
  color: #6dca8f;
}

.token.operator,.token.punctuation,.token.url,.language-css .token.string,.style .token.string,.token.variable {
  color: rgb(171, 178, 191);
}
