{% extends 'body.html' %}

{% block content %}
  <main>
    <section class='hero__wrapper'>
      <h1>Welcome a API</h1>
      <div class='hero-image'></div>
    </section>
    <section class='shwcase__wrapper'>
      <div class='shocase__Inner'>
        <article class='characterCard__wrapper'>
          <div class='characterCard__img-wrapper'>
            <img/>
          </div>
          <div class='characterCard__content-wrapper'>
            <div class='section'>
              <a></a>
              <span>
                <span></span>
              </span>
            </div>
          </div>
        </article>
        <article class='characterCard__wrapper'>
          <div class='characterCard__img-wrapper'>
            <img/>
          </div>
          <div class='characterCard__content-wrapper'>
            <div class='section'>
              <a></a>
              <span>
                <span></span>
              </span>
            </div>
          </div>
        </article>
        <article class='characterCard__wrapper'>
          <div class='characterCard__img-wrapper'>
            <img/>
          </div>
          <div class='characterCard__content-wrapper'>
            <div class='section'>
              <a></a>
              <span>
                <span></span>
              </span>
            </div>
          </div>
        </article>
        <article class='characterCard__wrapper'>
          <div class='characterCard__img-wrapper'>
            <img/>
          </div>
          <div class='characterCard__content-wrapper'>
            <div class='section'>
              <a></a>
              <span>
                <span></span>
              </span>
            </div>
          </div>
        </article>
        <article class='characterCard__wrapper'>
          <div class='characterCard__img-wrapper'>
            <img/>
          </div>
          <div class='characterCard__content-wrapper'>
            <div class='section'>
              <a></a>
              <span>
                <span></span>
              </span>
            </div>
          </div>
        </article>
        <article class='characterCard__wrapper'>
          <div class='characterCard__img-wrapper'>
            <img/>
          </div>
          <div class='characterCard__content-wrapper'>
            <div class='section'>
              <a></a>
              <span>
                <span></span>
              </span>
            </div>
          </div>
        </article>
      </div>
    </section>
  </main>
{% endblock %}